html,
body {
  height: 100%;
}

body {
  padding: 0;
}

.title {
  font-size: 4em;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1em;
  text-align: center;
}

.projects-banner {
  font-size: 2.2em;
  margin-bottom: 0;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
}

.wrapper {
  margin-left: 55px;
}

.avatar {
  border-radius: 35%/20%;
  border: 2px solid var(--text-color);
}

.link-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.link-row > a {
  font-size: 2.1em;
  text-decoration: none;
}

.link-row > a:last-child {
  margin-right: 0;
}

.about {
  margin-bottom: 30px;
}

.projects a {
  font-size: 1.3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container.not-found {
  flex-direction: column;
}

.game-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.game-canvas {
  align-content: center;
  display: flex;
  flex-direction: row;
}

.game-score {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.game-score button {
  padding: 1em;
}

.game {
  border: 0.5em solid #888888;
}

.game-controls {
  margin: 0.5em 0;
}

.game-controls button {
  padding: 1em;
  font-size: 1.5em;
}

.seth-bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 95%;
}

.seth {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.seth-bg > .info {
  align-self: center;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .seth > img {
    animation: Seth-spin infinite 20s linear;
  }
}

@keyframes Seth-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 740px) {
  .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  .wrapper {
    margin-left: 0;
    margin-top: 20px;
  }

  .title {
    font-size: 3em;
  }

  .projects-banner {
    font-size: 2em;
  }

  .link-row > a {
    font-size: 1.8em;
    padding: 10px;
  }

  .about {
    margin-bottom: 15px;
  }

  .container.not-found {
    flex-direction: row;
  }

  .game-canvas {
    flex-direction: column;
  }

  .game-score {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
