/*
	Colors Used
	-----------

	#444 - light grey for text
	#bbb - light grey for project separators
	#39c - light blue
	#fff - white
	#ffd - background color

*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body{
	margin: 0;
	padding: 0;
	font-family: Lucida Sans, Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #FFD;
}
a{
	color:#444;
}
a:hover{
	color:#39c;
}
a.stickyLink{
	color: #FFF;
	text-align: center;	
	text-decoration: none;
}
a.stickyLink:hover{
	color: #FFF;
	text-decoration: underline;
}
p{
	margin-bottom: 5px;
}
li{
	margin-top: 5px;
	margin-left: 12px;
}
.stickyWrapper{
	text-align: center;
	width: 100%;
}
.sticky{
	top: 0;
	left: 0;
	border: 0;
	background-color: #39c;
	width: 100%;
	color: #FFF;
	padding: 6px;
	position: fixed;
	text-decoration: none;
	z-index: 1001;
}
.stickyRightReset{
	margin-top: -15px;
}
.wrapper{
	width: 960px;
	margin: 30px auto 0 auto;
	padding: 0;
}
.project{
	border-bottom: solid 3px #bbb;
	border-width: 50%;
	margin: 0 auto;
	padding: 15px;
	text-decoration: none;
	width: 60%;
}
.demoHeader{
	border-bottom: solid 10px #39c;
	border-left: solid 18px transparent;
	border-right: solid 18px transparent;
	font-size: 2.0em;
	text-align: center;
	font-weight: bold;
	padding: 5px;
	width: 85%;
	margin: 0 auto;
}
.demoBorder{
	border: solid 3px #39c;
	margin: 12px;
	padding: 10px;
	background-color: #FFF;
}
.projectHeader{
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.projectHeaderContainer{
	margin-bottom: 30px;
}
.leftPaddingMid{
	padding-left: 10px;
}
.rightPaddingLarge{
	padding-right: 30px;
}



