body {
  background: #efefef;
  color: #444;
  font-family: Consolas, monaco, monospace;
  margin: 0;
  padding: 20px;
}

.brief {
  margin-bottom: 1em;
}

.printer-img {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

img {
  max-width: 100%;
}
