body {
  background: #efefef;
  color: #444;
  font-family: Consolas, monaco, monospace;
  margin: 0;
  padding: 20px;
}

.printer-img {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}
