.wrapper {
  max-width: none;
}

.wrapper > h2 {
  margin: 20px 0;
}

.container {
  height: 100%;
  margin-bottom: 50px;
  width: 100%;
}

.container > iframe {
  border: 2px solid #444;
  height: inherit;
  width: inherit;
}

a.back {
  font-size: 14px;
}
