body {
	background: rgba(100, 150, 255, 1);
	font-family: sans-serif;
}

h1 {
	font-size: 7em;
	margin: 0;
}

.banner {
	bottom: 0;
	left: 0;
	padding: 15px;
	position: absolute;
	background:#ccc;
	width: 100%;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
}

.back {
	float: left;
}

.clouds {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 50, 1);
  border-radius: 50%;
  position: absolute;
  top: 30%;
	left: calc(50% - 35px);
	z-index: -1;
}

.clouds:after,
.clouds:before {
	content: '';
	position: absolute;
	top: 40px;
	left: 20px;
	background: rgba(250, 250, 250, 1);
	display: block;
	width: 50px;
	height: 40px;
	border-radius: 50%;
	animation: cloud1 2.5s ease-in-out infinite alternate;
	box-shadow: 20px -15px 0 rgba(250, 250, 250, 1),
							40px 10px 0 rgba(250, 250, 250, 1),
							55px -15px 0 rgba(250, 250, 250, 1),
							75px 0px 0 rgba(250, 250, 250, 1);
}

.clouds:before {
	left: -80px;
	top: 0;
	animation-name: cloud2;
}

@keyframes cloud1 {
  from {  margin-left: 0; }
  to {  margin-left: 50px; }
}

@keyframes cloud2 {
  from {  margin-left: 0; }
  to {  margin-left: -50px; }
}
