.brief {
  margin-bottom: 1em;
}

.printer-img {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  .header {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
}
