:root {
  --font: Consolas, monaco, monospace;
  --background: #efefef;
  --text-color: #444444;
  --focus-color: #39c39c;
}

.dark {
  --background: #444444;
  --text-color: #efefef;
}

*:focus {
  color: var(--focus-color);
  outline-color: #c500ff;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font);
  margin: 0;
  padding: 20px;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--focus-color);
}

.hidden {
  display: none;
  visibility: hidden;
}
