.stopwatchTransform{
	margin:100 auto;
	transform-origin:center bottom;
	-ms-transform-origin:center bottom; /* IE 9 */
	-webkit-transform-origin:center bottom; /* Safari and Chrome */
}
.secondhand {
	width: 5px;
	height: 100px;
	background-color: red;
}
.minutehand{
	width: 8px;
	height: 100px;
	background-color: green;
}
.hourhand {
	width: 12px;
	height: 100px;
	background-color: black;
}
.disabled{
	display:none;
}
.stopwatchLarge{
	font-size: 3em;
}
.stopwatchBtn{
	background-color: blue;
	color: white;
	font-size: 2em;
	padding: 3px;
	margin: 3px;
	text-decoration: none;
}
.stopwatchStart{
	background-color: green;
}
.stopwatchStop{
	background-color: red;
}
