:root {
  --anchor: #5555ff;
}

.dark {
  --anchor: #39c39c;
}

a {
  color: var(--anchor);
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.container {
  margin-top: 40px;
}

.sticky {
  background: #444444;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky > * {
  margin: 0 1.5em;
}

.sticky a {
  color: var(--focus-color);
}

.book {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.series {
  padding-left: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 1.3em;
    text-align: center;
  }

  .header {
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .series {
    padding-left: 1em;
  }
}

@media only screen and (min-width: 420px) {
  ul {
    padding-left: 30px;
  }
}
