body {
  font-family: sans-serif;
}

a {
	color: #77F;
}

ul {
	list-style-type: none;
}

.container {
  margin-top: 40px;
	padding: 20px;
}

.sticky {
	background: #EEF;
	border: 2px solid #999;
  left: 0;
	padding: 20px;
	position: fixed;
  top: 0;
	width: 100%;
	z-index: 100;
}

.github {
	float: right;
	font-size: 1.5em;
	padding-right: 40px;
}

.book {
	margin-bottom: 1em;
}

.series {
	padding-left: 1.5em;
}
