body {
  background: #efefef;
  color: #444444;
  font-family: Consolas, monaco, monospace;
}

*:focus {
  color: #39c39c;
  outline-color: #c500ff;
}

a {
  color: #5555ff;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.container {
  margin-top: 40px;
  padding: 20px;
}

.sticky {
  background: #444444;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky > * {
  margin: 0 1.5em;
}

.sticky a {
  color: #39c39c;
}

.book {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.series {
  padding-left: 1.5em;
}

/* phone only */
@media only screen and (max-width: 420px) {
  body {
    font-size: 1.3em;
  }

  .series {
    padding-left: 1em;
  }
}

@media only screen and (min-width: 420px) {
  ul {
    padding-left: 30px;
  }
}
