#game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  align-items: center;
  border: 3px solid var(--text-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 225px;
  padding: 1em;
}

.card > img {
  margin-top: 10px;
  max-height: 200px;
  max-width: 200px;
}

.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn,
.games-filter {
  border: 2px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font);
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }

  .header {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
}
