:root {
  --font: Consolas, monaco, monospace;
  --background: #efefef;
  --text-color: #444444;
  --focus-color: #39c39c;
}

.dark {
  --background: #444444;
  --text-color: #efefef;
}

*:focus {
  color: var(--focus-color);
  outline-color: #c500ff;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font);
  margin: 0;
  padding: 20px;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--focus-color);
}

ol {
  list-style: decimal;
  margin-left: 3em;
}

small {
  display: block;
  font-size: 0.5em;
}

p {
  margin-bottom: 2.5em;
}

#map {
  border: 1px solid var(--text-color);
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .header {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
}
