small {
  display: block;
  font-size: 0.5em;
}

p {
  margin-bottom: 2.5em;
}

#map {
  border: 1px solid var(--text-color);
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .header {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
}
